* {
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

body {
  	margin: 0;
	font-family: 'Open Sans', Arial, sans-serif;
}

a {
	text-decoration: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 25vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.top-image, nav, .bottom-image {
	flex: 1;
}

.top-image {
	background: url(./img/bird.png);
	background-size: 85%;
	background-repeat: no-repeat;
}

nav {
	display: flex;
	align-items: center;
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.bottom-image {
	background: url(./img/sea.png);
	background-size: cover;
}

main {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; 
	width: 75vw;
	height: 100vh;
	position: absolute;
    top: 0;
	right: 0;
}

.portfolio-item {
	border: 0.4rem solid white;
	width: 25vw;
}

.close-carousel {
	position: absolute;
	right: 50px;
	top: 50px;
}

.carousel-test {
	height: 100vh;
	width: 75vw;
	position: absolute;
	left: 0;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-car {
	height: 400px;
	width: 100%;
}

.item-1 {
	background-color: red; 
}

.item-2 {
	background-color: blue; 
}

.item-3 {
	background-color: yellow; 
}

