* {
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

body {
  	margin: 0;
	font-family: 'Open Sans', Arial, sans-serif;
}

a {
	text-decoration: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 25vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.top-image, nav, .bottom-image {
	flex: 1;
}

.top-image {
	background: url(./img/bird.png);
	background-size: 85%;
	background-repeat: no-repeat;
}

nav {
	display: flex;
	align-items: center;
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.bottom-image {
	background: url(./img/sea.png);
	background-size: cover;
}

main {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; 
	width: 75vw;
	height: 100vh;
	position: absolute;
    top: 0;
	right: 0;
}

.portfolio-item {
	border: 0.4rem solid white;
	width: 25vw;
}

.close-carousel {
	position: absolute;
	right: 50px;
	top: 50px;
}

.carousel-test {
	height: 100vh;
	width: 100vw;
	position: absolute;
	left: -25vw;
	display: flex;
    flex-direction: column;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
    justify-content: center;
}

.item-car {
	height: 500px;
	width: 65%;
}

.carousel-indicators li {
    width: 7px;
	height: 7px;
	border-radius: 50%;
}

.hvr-fade {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0);
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.7s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
  }
  .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
  }
